.input {
    padding: 8px 15px;
    font-size: 14px;
    border-radius: 6px;
    min-width: 300px;
    border: 0cap;
}

.header {
    z-index: 10;
    width: 100%;
    min-height: 70px;
    background-color: rgb(18, 18, 111);
    display: flex;
    justify-content: center;
    align-items: center;
}

.form {
    display: flex;
    gap: 26px;
}

.btn {
    display: flex;
    gap: 5px;
    align-items: center;
    color: rgb(14, 28, 70);
    background-color: rgb(224, 224, 227);
    transition: background-color 0.3s ease;
    padding: 10px 20px;
    cursor: pointer;
}

.btn:hover {
    background-color: rgb(151, 179, 232);
}