.container {
    padding-top: 26px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 16px;
}

.list {
    display: flex;
    align-content: center;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 16px;
}

.item {
    width: calc((100% - 2 * 16px) / 3);
    aspect-ratio: 3 / 2;
    overflow: hidden;
    object-fit: cover;
    height: 260px;
}