  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    right: auto;
    bottom: auto;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    border-radius: 4px;
    overflow: hidden;
    outline: none;
  }